* {
  scrollbar-width: thin;
  scrollbar-color: #fff #c4c4c4;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
